

<form>
    <div class="input-group">
        <div>
            <label for="initial-investment">Initial investment</label>
            <input id="initial-investment" type="number"/>
        </div>
        <div>
            <label for="anual-investment">Anual investment</label>
            <input id="anual-investment" type="number"/>
        </div>
    </div>
    <br>
    <div class="input-group">
        <div>
            <label for="expected-return">
                Expected return
            </label>
            <input id="expected-return" type="number"/>
        </div>
        <div>
            <label for="duration">Duration</label>
            <input id="duration" type="number"/>
        </div>    
    </div>
    <br>
    <div class="input-group">
        <button>Calculate</button>
    </div>
    
</form>

<app-results/>